#section-hero-container {
    background-color: rgba(73, 94, 87, 1);
    display: flex;
    padding: 1em;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 1em 1em;
}

#section-hero-left{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;
    max-width: 27em;
    row-gap: 1.3em;
    margin-right: 1em;
}

#section-hero-right img{
    margin-left: 1em;
    max-width: 30em;
    width: 30em;
}

#section-hero-title {
    color: rgba(244, 206, 20, 1);
}

#section-hero-subtitle {
    color: rgb(255, 255, 255);
}

#section-hero-description {
    color: rgb(255, 255, 255);
}

#section-hero-button{
    padding-bottom: 0.5em;
}

#section-hero-image {
    border-radius: 8px;
}

@media only screen and (max-width: 1000px) {
    #section-hero-right{
        display: none;
        flex: 0%
    }
}